<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://iptvburo.com/tizen"
        version="0.1.0"
        viewmodes="maximized">
    <name>IPTV BURO</name>
    <description>Player e organizador de midia para fontes autorizadas pelo usuario.</description>
    <author email="serafinnike@hotmail.com">Lucas Serafin</author>

    <content src="index.html"/>
    <icon src="icon.png"/>

    <!-- 1920x1080 e a resolucao logica padrao das Samsung TV. -->
    <tizen:application id="IPTVBUROxx.IPTVBURO"
                       package="IPTVBUROxx"
                       required_version="6.0"/>

    <tizen:profile name="tv-samsung"/>

    <!-- AVPlay e a engine de video nativa da Samsung. -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

    <!-- Teclas do controle remoto que o app precisa receber. -->
    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   hwkey-event="enable"/>

    <!-- Streams do usuario podem vir de qualquer host autorizado por ele. -->
    <access origin="*" subdomains="true"/>
</widget>
